{% extends 'base.html.twig' %}

{% block header_title %}
    <div class="text-center">
        <h1>500</h1>
        <p>Un problème temporaire est survenu...</p>
    </div>
{% endblock %}

{% block header_img %}{% endblock %}

{% block body %}
    <div class="text-center">
        <a href="{{ path('homepage') }}">Retour à l'accueil</a>
    </div>
{% endblock %}