{% extends 'base.html.twig' %}

{% block header_title %}
    <div class="text-center">
        <h1>403</h1>
        <p>Vous n'avez pas l'autorisation d'accéder à cette page!</p>
    </div>
{% endblock %}

{% block header_img %}{% endblock %}

{% block body %}
    <div class="text-center">
        <a href="{{ path('homepage') }}">Retour à l'accueil</a>
    </div>
{% endblock %}